html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
}

html {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

input:not([type="submit"]), textarea {
  font-size: 1.125rem;
  background: transparent;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  input:not([type="submit"]), textarea {
    font-size: 1rem;
  }
}

input[type="submit"] {
  font-size: 1.125rem;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  max-width: 100%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.row {
  position: relative;
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .row {
    justify-content: center;
    display: flex;
    width: 100%;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.row.reverse {
  flex-direction: row-reverse;
}

.col {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  div[class*=" col-"] {
    flex-grow: 0;
    flex-direction: row;
  }
  .col-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

header .col, header .row,
header * {
  margin-bottom: 0;
  padding-bottom: 0;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
}

.btn {
  background: #ffffff;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: inline-block;
  color: #313131;
  border-radius: 2px;
}

.center-col {
  align-self: center;
}

.space-between {
  justify-content: space-between;
}

.center {
  text-align: center;
}

.responsive-image {
  max-width: 100%;
  display: inline-block;
}

.flex-vertical {
  flex-direction: column;
}

.input-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

.input-container .input {
  padding: .15rem 0;
  outline: none;
  color: inherit;
  position: relative;
  border-bottom: solid 2px;
  display: block;
  resize: none;
}

.input-container .input[type="submit"] {
  display: inline-block;
}

.input-container label {
  position: absolute;
  left: 15px;
  top: 0;
  z-index: -1;
  transform-origin: left top;
  transition: all ease .2s;
}

.input-container:after {
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #FEF683;
  transform-origin: left;
  transform: scaleX(0);
  z-index: 10;
  transition: all ease .2s;
}

.input-container.active label {
  transform: translateY(-1rem) scale(0.75);
  color: #FEF683;
}

.input-container.active:after {
  transform: scaleX(1);
}

.navigation-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  border: solid 1px #313131;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .navigation-button {
    display: none;
  }
}

.line-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  height: 2px;
  width: 18px;
  margin-bottom: 3px;
  display: block;
  background-color: #313131;
  overflow: hidden;
  position: relative;
}

.line:last-child {
  margin: 0;
}

.menu {
  position: absolute;
  background: #f1f1f1;
  height: 100vh;
  top: 1rem;
  left: 0;
  z-index: 10;
  transform: translateX(-120%);
  transition: transform .2s;
}

.menu ul {
  font-size: 16px;
  padding: 20px 15px 0 20px;
}

.menu ul li {
  margin-bottom: 14px;
}

.menu.active {
  transform: translateX(0px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (min-width: 768px) {
  .menu {
    top: 0;
    background: none;
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
    transform: none;
    margin: 0;
  }
  .menu ul {
    padding: 0;
  }
  .menu ul li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .menu ul li:last-child {
    margin-right: 0;
  }
}
