@import 'mixins/mixins';
.navigation-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;    
    border: solid 1px white;
    background-color: transparent;
    @media only screen and (min-width : 768px) {
        display: none;
    }
}
.line-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.line {
    height: 2px;
    width: 18px;
    margin-bottom: 3px;
    display: block;
    background-color: white;
    overflow: hidden;
    position: relative;
    &:last-child {
        margin: 0;
    }
}
.menu {
    position: absolute;
    background: #f1f1f1;
    height: 100vh;
    left: 0;
    ul {
        font-size: 16px;
        padding: 20px 15px 0 20px;
        li {
            margin-bottom: 14px;
        }
    }
    z-index: 10;
    transform: translateX(-120%);
    transition: transform .2s;
    &.active{
        transform: translateX(0px);
        @include box-shadow(2);
    }
    @include md {
        background: none;
        position: relative;
        height: auto;
        width: auto;
        padding: 0;
        transform: none;
        margin: 0;
        ul {
            padding: 0;
            li {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
}
